# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

| ano  | anomalia termica |
|:----:|:----------------:|
| 1900 |      -0.08       |
| 1920 |      -0.27       |
| 1940 |       0.12       |
| 1960 |      -0.03       |
| 1980 |       0.26       |
| 2000 |       0.40       |
| 2020 |       1.02       |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
temp_nasa = pd.Series(data = dados)
temp_nasa

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
temp_nasa_index = pd.Series(data = dados, index = anos)
temp_nasa_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temp = pd.Series(dic_temperaturas)
dic_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
df

# seu código aqui

             0           1           2
0   100.084298  100.778922   94.613455
1    94.090090  102.864924   99.990440
2   117.837028  101.267835  100.820514
3    92.085904   99.916560   95.067934
4   112.797832  107.109329   98.758990
5   109.006354   94.992369   80.632862
6   107.371459  102.424505   94.347815
7   102.584555  105.350987   88.644905
8   110.164576  111.936439   81.126844
9   103.495310  101.951878  115.390956
10  116.027927  105.823505  109.527618
11   98.423443  104.236557   89.138620
12  109.671337  119.956709  106.735902
13  109.286405   95.390930   92.374338
14  101.388614  107.276468   91.263373
15  104.414610   98.244078   99.081355
16   95.622022  102.627033  108.443977
17   86.427611  127.458290  102.565535
18   97.865022   92.115792   91.531020
19   96.098368  101.395992   98.134965

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
N= len(df)
df.columns = ["x1", "x2", "x3"]
df.index = range(1,N +1)
df

            x1          x2          x3
1   100.084298  100.778922   94.613455
2    94.090090  102.864924   99.990440
3   117.837028  101.267835  100.820514
4    92.085904   99.916560   95.067934
5   112.797832  107.109329   98.758990
6   109.006354   94.992369   80.632862
7   107.371459  102.424505   94.347815
8   102.584555  105.350987   88.644905
9   110.164576  111.936439   81.126844
10  103.495310  101.951878  115.390956
11  116.027927  105.823505  109.527618
12   98.423443  104.236557   89.138620
13  109.671337  119.956709  106.735902
14  109.286405   95.390930   92.374338
15  101.388614  107.276468   91.263373
16  104.414610   98.244078   99.081355
17   95.622022  102.627033  108.443977
18   86.427611  127.458290  102.565535
19   97.865022   92.115792   91.531020
20   96.098368  101.395992   98.134965

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [11]:
# seu código aqui
df['media'] = df[["x1", "x2", "x3"]].sum(axis=1) / 3
df

            x1          x2          x3       media
1   100.084298  100.778922   94.613455   98.492225
2    94.090090  102.864924   99.990440   98.981818
3   117.837028  101.267835  100.820514  106.641792
4    92.085904   99.916560   95.067934   95.690133
5   112.797832  107.109329   98.758990  106.222050
6   109.006354   94.992369   80.632862   94.877195
7   107.371459  102.424505   94.347815  101.381260
8   102.584555  105.350987   88.644905   98.860149
9   110.164576  111.936439   81.126844  101.075953
10  103.495310  101.951878  115.390956  106.946048
11  116.027927  105.823505  109.527618  110.459683
12   98.423443  104.236557   89.138620   97.266206
13  109.671337  119.956709  106.735902  112.121316
14  109.286405   95.390930   92.374338   99.017224
15  101.388614  107.276468   91.263373   99.976152
16  104.414610   98.244078   99.081355  100.580014
17   95.622022  102.627033  108.443977  102.231011
18   86.427611  127.458290  102.565535  105.483812
19   97.865022   92.115792   91.531020   93.837278
20   96.098368  101.395992   98.134965   98.543108

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [12]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   100.084298  100.778922   94.613455   98.492225  4.589978
2    94.090090  102.864924   99.990440   98.981818  4.594936
3   117.837028  101.267835  100.820514  106.641792  4.669475
4    92.085904   99.916560   95.067934   95.690133  4.561115
5   112.797832  107.109329   98.758990  106.222050  4.665532
6   109.006354   94.992369   80.632862   94.877195  4.552583
7   107.371459  102.424505   94.347815  101.381260  4.618888
8   102.584555  105.350987   88.644905   98.860149  4.593706
9   110.164576  111.936439   81.126844  101.075953  4.615872
10  103.495310  101.951878  115.390956  106.946048  4.672324
11  116.027927  105.823505  109.527618  110.459683  4.704651
12   98.423443  104.236557   89.138620   97.266206  4.577452
13  109.671337  119.956709  106.735902  112.121316  4.719581
14  109.286405   95.390930   92.374338   99.017224  4.595294
15  101.388614  107.276468   91.263373   99.976152  4.604932
16  104.414610   98.244078   99.081355  100.580014  4.610954
17   95.622022  102.627033  108.443977  102.231011  4.627235
18   86.427611  127.458290  102.565535  105.483812  4.658558
19   97.865022   92.115792   91.531020   93.837278  4.541562
20   96.098368  101.395992   98.134965   98.543108  4.590494